.noteFormContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formLabel {
  font-weight: bold;
}

.noteFormContainer h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  margin: 0 auto 10px auto;
  width: 100%;
  max-width: 500px;
}

.btn {
  margin-top: 20px;
}
